
<MudSimpleTable Elevation="0">
    <thead>
        <tr>
            <th style="text-align:center">Category or level</th>
            <th style="text-align:center">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in CategoryTable.Select((value, index) => new { index, value }))
        {
            <tr>
                <td>
                    @if (!details)
                    {
                        <MudTextField Value="item.value.Name" ValueChanged="(string? val)=>OptionChanged(val,item.index)" Variant="Variant.Text" FullWidth></MudTextField>
                    }
                    else
                    {
                        <MudTextField Value="item.value.Name" ValueChanged="(string? val)=>OptionChanged(val,item.index)" Variant="Variant.Text" FullWidth ReadOnly></MudTextField>
                    }
                </td>
                <td>
                    <MudDatePicker Date="item.value.Date" DateChanged="(d)=>DateChanged(d,item.index)" Clearable="true" ReadOnly="@details"/>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>
