<MudSimpleTable Elevation="0">
    <tbody>
        <tr>
            <td>
                <MudSimpleTable Elevation="0">
                    <tbody>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Name" Label="Name" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.HCINo" Label="NO." Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudDatePicker @bind-Date="_hci.User.BirthDate" Label="Date of birth" Variant="Variant.Text"></MudDatePicker>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="management" Label="Management" Variant="Variant.Text"></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="management" Label="Department" Variant="Variant.Text"></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.HCISectionName" Label="Section or process name" Variant="Variant.Text"></MudTextField>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </td>
            <td class="d-flex flex-column">
                <MudDatePicker FullWidth @bind-Date="_hci.User.IncomesDate" Label="Entry date" Variant="Variant.Text"></MudDatePicker>
                <br/>
                <MudImage Alt="Image" Elevation="25" Height="300" Width="250" />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

@code {
    public string name;
    public string management; 
    [Parameter]
    public Data.Entities.HCI _hci { get; set; }
}
