<MudSimpleTable Elevation="0">
    <tbody>
        <tr>
            <td>
                <MudSimpleTable Elevation="0">
                    <tbody>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Name" Label="Name" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Payroll" Label="NO." Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudDatePicker @bind-Date="_hci.User.BirthDate" Label="Date of birth" Variant="Variant.Text" ReadOnly></MudDatePicker>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Management" Label="Management" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Department" Label="Department" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Process" Label="Section or process name" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </td>
            <td class="d-flex flex-column">
                <MudDatePicker FullWidth @bind-Date="_hci.User.IncomesDate" Label="Entry date" Variant="Variant.Text" ReadOnly></MudDatePicker>
                <br/>
                <MudImage Src="@image" Alt="Image" Elevation="25" Height="300" Width="250" />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

@code {
    public string management;
    [Parameter]
    public Data.Entities.HCI _hci { get; set; }
    [Parameter]
    public string image { get; set; }
}
