
<MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
    <TitleContent>
        <div Style="align-items: center; display: flex;">
            <MudText>@Title</MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSimpleTable Elevation="0">
            <thead>
                <tr>
                    <th style="text-align:center">Time period</th>
                    <th style="text-align:center">Topic</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in KnowledgeTable.Select((value, index) => new { index, value }))
                {
                    var period = new DateRange(item.value.DateStart, item.value.DateEnd);
                    <tr>
                        <td style="width:30%">
                            <MudDateRangePicker DateRange="period" DateRangeChanged="(d)=>DateChanged(d,item.index)" Clearable="true" ReadOnly="@details" />
                        </td>
                        <td>
                            <MudTextField T="string" Value="item.value.Description" ValueChanged="(val)=>TextChanged(val,item.index)" Variant="Variant.Text" FullWidth ReadOnly="@details"></MudTextField>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </ChildContent>
</MudExpansionPanel>

