<MudSimpleTable Elevation="0">
    <thead>
        <tr>
            <th style="text-align:center">Special notes</th>
        </tr>
    </thead>
    <tbody>
        @for (int i =0; i< NotesTable.Count; i++)
        {
            <tr>
                <td>
                    <MudTextField @bind-Value="NotesTable[i].Comment" Variant="Variant.Text" FullWidth></MudTextField>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public List<Commentary> NotesTable { get; set; } = new List<Commentary>();

    protected async override Task OnInitializedAsync()
    {
        if (!NotesTable.Any())
        {
            for (int i = 0; i < 5; i++)
            {
                NotesTable.Add(new Commentary { Comment = string.Empty });
            }
        }
    }
}
