<MudSimpleTable Elevation="0">
    <thead>
        <tr>
            <th style="text-align:center">Special notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in NotesTable.Select((value, index) => new { index, value }))
        {
            <tr>
                <td>
                    <MudTextField T="string" Value="item.value.Comment" ValueChanged="(val)=>TextChanged(val, item.index)" Variant="Variant.Text" FullWidth ReadOnly="@details"></MudTextField>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public bool details { get; set; }
    [Parameter]
    public List<Commentary> NotesTable { get; set; }
    [Parameter]
    public EventCallback<Commentary> Add { get; set; }
    [Parameter]
    public EventCallback<int> Del { get; set; }
    [Parameter]
    public EventCallback<(Commentary, int)> Upd { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (!NotesTable.Any())
        {
            for (int i = 0; i < 5; i++)
            {
                NotesTable.Add(new Commentary { Comment = string.Empty });
            }
        }
    }

    private void TextChanged(string val, int idx)
    {
        NotesTable[idx].Comment = val;
        Upd.InvokeAsync((NotesTable[idx], idx));
    }
}
