
<MudSimpleTable Elevation="0">
    <thead>
        <tr>
            <th style="text-align:center">Date of acquisition</th>
            <th style="text-align:center">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in QualificationsTable.Select((value, index) => new { index, value }))
        {
            <tr>
                <td style="width:30%">
                    <MudDatePicker Date="item.value.DateEnd" DateChanged="(d)=>DateChanged(d,item.index)" Clearable="true" ReadOnly="@details" />
                </td>
                <td>
                    <MudTextField T="string" Value="item.value.Description" ValueChanged="(val)=>TextChanged(val,item.index)" Variant="Variant.Text" FullWidth ReadOnly="@details"></MudTextField>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>