<MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
    <TitleContent>
        <div Style="align-items: center; display: flex;">
            <MudText>Professional trajectory within the company</MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSimpleTable Elevation="0">
            <thead>
                <tr>
                    <th style="text-align:center">No.</th>
                    <th style="text-align:center">Date of change</th>
                    <th style="text-align:center">Deparment</th>
                    <th style="text-align:center">Process name</th>
                    <th style="text-align:center">Operation Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in TrajectoryTable.Select((value, index) => new { index, value }))
                {
                    <tr>
                        <td style="width:5%">
                            <MudNumericField Style="text-align:center;" @bind-Value="item.value.CareerPathNo" Variant="Variant.Text" HideSpinButtons=true ReadOnly/>
                        </td>
                        <td style="width:17%">
                            <MudDatePicker Date="item.value.ChangeDate" DateChanged="(d)=>DateChanged(d,item.index)" Clearable="true" ReadOnly="@details" />
                        </td>
                        <td style="width:20%">
                            <MudTextField Value="item.value.Department" ValueChanged="(string? val)=>TextChanged(val, item.index, 0)" Variant="Variant.Text" FullWidth ReadOnly="@details"></MudTextField>
                        </td>
                        <td style="width:25%">
                            <MudTextField Value="item.value.Process" ValueChanged="(string? val)=>TextChanged(val, item.index, 1)" Variant="Variant.Text" FullWidth ReadOnly="@details"></MudTextField>
                        </td>
                        <td>
                            <MudTextField Value="item.value.OperationDescription" ValueChanged="(string? val)=>TextChanged(val, item.index, 2)" Variant="Variant.Text" FullWidth ReadOnly="@details"></MudTextField>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </ChildContent>
</MudExpansionPanel>
