<h5>PUNTOS A CONFIRMAR</h5>

<div class="mud-table mud-simple-table mud-table-dense mud-table-hover mud-table-bordered mud-table-outlined" style="width:100%;height:100%">
    <div class="mud-table-container">
        <table id="CheckPointsTable">
            <thead>
                <tr>
                    <td class="CheckElement" colspan="4" style="width:30vw;">
                        <MudText Typo="Typo.h6">FECHA</MudText>
                    </td>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td class="CheckElement">
                            <MudDatePicker Margin="Margin.Dense" @bind-Date="programmedDate" />
                        </td>
                    }
                </tr>
                <tr>
                    <td class="CheckElement" colspan="4" style="width:30vw;">
                        <MudText Typo="Typo.h6">No. DE RAN</MudText>
                    </td>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td class="CheckElement">
                            <MudInput @bind-Value="programmed" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;" />
                        </td>
                    }
                </tr>
                <tr>
                    <th class="CheckElement" style="width:2.5vw;"><b>No.</b></th>
                    <th class="CheckElement" colspan="2" style="width:13.75vw;"><b>PUNTOS DE CHEQUEO</b></th>
                    <th class="CheckElement" style="width:13.75vw;"><b>NORMA</b></th>
                    <th class="CheckElement" colspan="7"><b>REAL</b></th>
                </tr>
            </thead>
            <tbody>
                <CheckPoints/>
                <InspectorSignatures/>
            </tbody>
        </table>
    </div>
</div>

@code {
    private string programmed { get; set; } = "15.00";
    private DateTime? programmedDate { get; set; }
}
