
<MudSimpleTable Elevation="0">
    <thead>
        <tr>
            <th style="text-align:center">Category or level</th>
            <th style="text-align:center">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in CategoryTable)
        {
            <tr>
                <td>
                    <MudTextField @bind-Value="item.Value.category" Variant="Variant.Text" FullWidth></MudTextField>
                </td>
                <td>
                    <MudDatePicker @bind-Date="item.Value.date" Clearable="true" />
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>
