<MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
    <TitleContent>
        <div Style="align-items: center; display: flex;">
            <MudText>Experience in operations of its own process</MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSimpleTable Elevation="0">
            <thead>
                <tr>
                    <th style="text-align:center">Time period</th>
                    <th style="text-align:center">Operation Description</th>
                    <th style="text-align:center">Level</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ExpertiseTable)
                {
                    <tr>
                        <td style="width:15%">
                            <MudDateRangePicker @bind-DateRange="item.Value.period" Clearable="true" />
                        </td>
                        <td>
                            <MudTextField @bind-Value="item.Value.operationDesc" Variant="Variant.Text" FullWidth></MudTextField>
                        </td>
                        <td style="width:15%">
                            <MudTextField @bind-Value="item.Value.level" Variant="Variant.Text" FullWidth></MudTextField>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </ChildContent>
</MudExpansionPanel>
