<MudSimpleTable Elevation="0">
    <tbody>
        <tr>
            <td>
                <MudSimpleTable Elevation="0">
                    <tbody>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="name" Label="Name" Variant="Variant.Text"></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="name" Label="NO." Variant="Variant.Text"></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="name" Label="Date of birth" Variant="Variant.Text"></MudTextField>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="management" Label="Management" Variant="Variant.Text"></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="management" Label="Department" Variant="Variant.Text"></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="management" Label="Section or process name" Variant="Variant.Text"></MudTextField>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </td>
            <td class="d-flex flex-column">
                <MudTextField FullWidth @bind-Value="name" Label="Entry date" Variant="Variant.Text"></MudTextField>
                <br/>
                <MudImage Alt="Image" Elevation="25" Height="300" Width="250" />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

@code {
    public string name;
    public string management; 
}
