
<MudSimpleTable Elevation="0">
    <thead>
        <tr>
            <th style="text-align:center">Date of acquisition</th>
            <th style="text-align:center">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in QualificationsTable)
        {
            <tr>
                <td style="width:30%">
                    <MudDatePicker @bind-Date="item.Value.date" Clearable="true" />
                </td>
                <td>
                    <MudTextField @bind-Value="item.Value.topic" Variant="Variant.Text" FullWidth></MudTextField>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>