@inject IStringLocalizer<Resource> Localizer

<MudExpansionPanels Elevation="5" MultiExpansion="true">
    <MudExpansionPanel Text="Section 1" IsInitiallyExpanded=true Style="min-width: 100%;">
        <TitleContent>
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["jobObservacionCiclycalCard"]
            </MudText>
        </TitleContent>
        <ChildContent>
            <MudSimpleTable Elevation="0">
                <tbody>

                    <tr>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td style="display:flex;" class="pt-8">
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                            </div>
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td style="display:flex;" class="pt-8">
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                            </div>
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%" class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Section 1" IsInitiallyExpanded=true Style="min-width: 100%;">
        <MudItem>
            <MudSimpleTable Elevation="0">
                <tbody>

                    <tr>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td style="display:flex;" class="pt-8">
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                            </div>
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td style="display:flex;" class="pt-8">
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mr-4" />
                            </div>
                            <div style="width: 50%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%" class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                        <td class="pt-8">
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" />
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </MudExpansionPanel>
</MudExpansionPanels>