<MudText Color="Color.Info">Category 2.</MudText>
@*Category 2 Questions*@
<MudGrid Justify="Justify.Center">
    <MudItem lg="10">
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <MudTr>
                    <MudTh>Observación para el cumplimiento del estándar - Observación de lejos</MudTh>
                    <MudTh>Respuestas y comentarios</MudTh>
                </MudTr>
            </thead>
            <tbody>
                <MudTr>
                    <MudTd>2.1. El operador usa el EPP como se establece en la HOE y Hoja de asignación de equipo de protección personal (S / N) explicar (N) </MudTd>
                    <MudTd><MudTextField T="string" Placeholder="SI" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" /></MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>2.2.  La estación de trabajo cumple con el estado de referencia de 5S requerido incluyendo ayudas visuales ( sistema importante A, B, etc..)  (S/N) explicar (N)</MudTd>
                    <MudTd><MudTextField T="string" Placeholder="SI" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" /></MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>2.3. El operador trabaja de acuerdo a la HOE de distribución de operación  (orden de los pasos principales)? (S/N) explicar (N)</MudTd>
                    <MudTd><MudTextField T="string" Placeholder="Si" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" /></MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>2.4. Actividad no cíclica (Ejemplo : Control de Lote, Cambio de Caja, Plan de Mantenimiento autónomo,…) se realizan en cumplimiento al estándar, si procede (S/N) explicar (N)</MudTd>
                    <MudTd><MudTextField T="string" Placeholder="Operación de cambio de bidon de butilo " Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" /></MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>2.5. Actividad regular de Calidad  (plan de inspección,chequeo  Poka Yoke ,…) se hacen en cumplimiento al estándar,  incluyendo registro, si procede (S/N) explicar (N)</MudTd>
                    <MudTd><MudTextField T="string" Placeholder="Secuencia de inspector ok, pokayoke funciona sin problema" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" /></MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>Comentarios</MudTd>
                    <MudTd><MudTextField T="string" Placeholder="Comentario" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" /></MudTd>
                </MudTr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>


@*Table with foreach 
<MudSimpleTable Style="overflow-x: auto;" Class="mt-5">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in rows)
        {
            <tr>
                @foreach (var x in row.Split('|'))
                {
                    <td>@x</td>
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>
<MudText>Comentarios</MudText>
*@