html, body {
    height: 100vh;
    max-height: 100vh;
}

.styled-table table {
    border-collapse: collapse;
    margin: 35px 0 !important;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr th {
    background-color: #2196f3ff;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold !important;
    justify-content: center;
}


.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #74b3ce;
    }*/



.border {
    background-color: #FFFFFF;
    border-style: inset;
    border-width: 1px;
    border-color: #6D7B8D;
    padding: 2px;
    width: 100%;
    table-layout: fixed;
}

/*striped color-profile table*/
.table-striped > tr:nth-child(odd) {
    background-color: #74b3ce;
}

.main > footer {
    height: auto;
    width: 100%;
}

.main > .content {
    height: calc(100vh - 1.5rem);
    max-height: calc(100vh - 6.5rem);
    overflow-y: auto;
}

.footerContainer {
    position: fixed;
    bottom: -70px;
    transition: bottom 0.3s;
    background-color: #2196f3;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.footersep {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    height: auto;
    width: 100%;
    overflow: auto;
    flex-direction: row;
}


.footerContainer:hover .icon-unlock,
.footerContainer .icon-lock {
    display: none;
}

.footerContainer:hover .icon-lock {
    display: inline;
}


.footerContainer:hover {
    position: fixed;
    bottom: 0;
    transition: bottom 0.3s;
}
