.card {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --primary-clr: #fff;
    --dot-clr: #BBC0FF;
    --play: hsl(195, 74%, 62%);
    max-height: 200px;
    border-radius: 10px;
}

.card {
    font-family: "Arial";
    color: #000000;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
}

    .card:hover .img-section {
        transform: translateY(3em);
    }

    .card:hover{
        transform: translateY(-3.2em);
    }

    .card:hover .foot-section {
        transform: translateY(8.5em);
    }

.card-desc {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -10px;
    display: grid;
    gap: 20px;
    background: var(--primary-clr);
    z-index: 2;
}

.card-time {
    font-size: 1.7em;
    font-weight: 500;
}

.img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 87%);
    flex-direction: row-reverse !important;
}

.foot-section {
    position: relative;
    top: -130px;
    display: grid;
    transition: 0.2s cubic-bezier(.25, 0.46, 0.45, 0.94);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    background: hsl(195, 74%, 87%);
}
.lock-notify {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card:hover .icon-unlock-notify,
.card .icon-lock-notify {
    display: none;
}

.card:hover .icon-lock-notify {
    display: inline;
}

.card-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.card-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
}

.card-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
}

.card svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.card .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
}

.card .recent {
    line-height: 0;
    font-size: 0.8em;
}
