.mud-expand-panel.mud-panel-expanded {
    margin: 16px 0;
    border-radius: inherit;
    border-bottom: none;
    transition-delay: 0ms;
    z-index: 50;
    width: 600px;
    height: 250px;
    transition: margin .3s cubic-bezier(.25,.8,.5,1);
    transition-delay: 100ms;
    left: -150px;
    top: 25px;
}

.onexpanded-down {
    position: absolute;
    top: 100%;
    left: 0;
}

.onexpanded-up {
    position: absolute;
    bottom: 100%;
    left: 0;
}

.mud-expand-panel {
    
    z-index: 25;
    flex: 1 0 100%;
    width: 200px;
    max-width: 600px;
    position: relative;
    transition: margin .3s cubic-bezier(.25,.8,.5,1);
    transition-delay: 100ms;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-surface);
}