.mud-expand-panel.mud-panel-expanded {
    margin: 16px 0;
    border-radius: inherit;
    border-bottom: none;
    transition-delay: 0ms;
    z-index: 50;
    width: auto;
    height: auto;
    transition: margin .3s cubic-bezier(.25,.8,.5,1);
    transition-delay: 100ms;
}

    .mud-expand-panel.mud-panel-expanded.onexpanded-down {
        left: -120px;
        top: 115px;
    }

    .mud-expand-panel.mud-panel-expanded.onexpanded-up {
        left: -120px;
        top: -110px;
    }

.mud-expand-panel {
    z-index: 25;
    flex: 1 0 100%;
    width: 200px;
    max-width: 600px;
    transition: margin .3s cubic-bezier(.25,.8,.5,1);
    transition-delay: 100ms;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-surface);
}