@code {
    [Parameter]
    public string Color { get; set; } = "#39FF14"; // Color por defecto

    [Parameter]
    public string Text { get; set; } = "Button";

    [Parameter]
    public EventCallback OnClick { get; set; } // Evento OnClick

    private string ButtonStyle => $"--clr:{Color}";
}

<MudButton Class="custom-button" Style="@ButtonStyle" OnClick="OnClick">
    <span>@Text</span>
    <i></i>
</MudButton>