@page "/configuration"

@*Title*@
<PageTitle>Supervisor Mobility | Home</PageTitle>

@*Dashboard grid*@
<MudGrid>
    @*Plants*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/fabrica.png" Height="100" Width="100" />
        </div>
        <a href="">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Plants</MudButton>
        </a>
    </MudItem>
    @*Areas*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/empresa.png" Height="100" Width="100" />
        </div>
        <a href="">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Areas</MudButton>
        </a>
    </MudItem>
</MudGrid>