@page "/configuration"

@*Title*@
<PageTitle>Supervisor Mobility | Configuration</PageTitle>

@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

@*Dashboard grid*@
<MudGrid>
    @*Plants*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/fabrica.png" Height="100" Width="100" />
        </div>
        <a href="/plants">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Plants</MudButton>
        </a>
    </MudItem>
    @*Checklists*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/portapapeles.png" Height="100" Width="100" />
        </div>
        <a href="/checklistcategories">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Checklist categories</MudButton>
        </a>
    </MudItem>
</MudGrid>