@page "/"

@*Title*@
<PageTitle>Supervisor Mobility | Home</PageTitle>

@*Dashboard grid*@
<MudGrid>
    @*Observation schedule*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/interfaz.png" Height="100" Width="100" />
        </div>
        <a href="">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Job Observations Schedule</MudButton>
        </a>
    </MudItem>
    @*Job observations*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/servicio.png" Height="100" Width="100" />
        </div>
        <a href="">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Job Observations</MudButton>
        </a>
    </MudItem>
    @*LUP*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/mecanografia.png" Height="100" Width="100" />
        </div>
        <a href="">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">To Do (LUP)</MudButton>
        </a>
    </MudItem>
    @*Configuration*@
    <MudItem xs="12" sm="6" md="3">
        <div style="text-align:center">
            <img src="Images/admin.png" Height="100" Width="100" />
        </div>
        <a href="">
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Info">Configuration</MudButton>
        </a>
    </MudItem>
</MudGrid>
