@page "/signature"
@inject IJSRuntime JS
@inject IStringLocalizer<Resource> Localizer

<div class="container drawing-container pa-8">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center position-relative mt-4">
            <h3>@Localizer["operatorsSignature"]e</h3>
            <canvas class="canvas-container" id="myCanvas" width="500" height="200"
            @onmousedown="StartDrawing" @onmouseup="EndDrawing" @onmousemove="Draw"
            @ontouchstart="StartDrawingTouch" @ontouchend="EndDrawingTouch" @ontouchmove="DrawTouch"></canvas>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <MudButton Disabled="@(!hasDrawing)" OnClick="GenerateSignature">Save Signature</MudButton>
            <MudButton OnClick="ClearCanvas">Clear</MudButton>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <img src="@signatureImageBase64" style="display: @signatureImageDisplay;">
        </div>
    </div>
</div>



@code {
    private bool isDrawing = false;
    private double prevX;
    private double prevY;
    private bool hasDrawing = false;
    private string signatureImageBase64 = "";
    private string signatureImageDisplay = "none";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initCanvas", "myCanvas");
        }
    }

    private async Task StartDrawing(MouseEventArgs e)
    {
        isDrawing = true;
        prevX = e.OffsetX;
        prevY = e.OffsetY;
    }

    private void EndDrawing(MouseEventArgs e)
    {
        isDrawing = false;
        hasDrawing = true; // Set to true when drawing ends
    }

    private async Task Draw(MouseEventArgs e)
    {
        if (isDrawing)
        {
            await JS.InvokeVoidAsync("draw", "myCanvas", e.OffsetX, e.OffsetY, isDrawing, prevX, prevY);
            prevX = e.OffsetX;
            prevY = e.OffsetY;
        }
    }

    private async Task StartDrawingTouch(TouchEventArgs e)
    {
        await JS.InvokeVoidAsync("disableScroll");
        isDrawing = true;
        prevX = e.Touches[0].PageX - await GetOffsetLeft("myCanvas");
        prevY = e.Touches[0].PageY - await GetOffsetTop("myCanvas");
    }

    private void EndDrawingTouch(TouchEventArgs e)
    {
        JS.InvokeVoidAsync("enableScroll");

        isDrawing = false;
        hasDrawing = true; // Set to true when drawing ends
    }

    private async Task DrawTouch(TouchEventArgs e)
    {
        if (isDrawing)
        {
            Console.WriteLine("dibujando");
            var offsetX = e.Touches[0].PageX - await GetOffsetLeft("myCanvas");
            var offsetY = e.Touches[0].PageY - await GetOffsetTop("myCanvas");

            await JS.InvokeVoidAsync("draw", "myCanvas", offsetX, offsetY, isDrawing, prevX, prevY);
            prevX = offsetX;
            prevY = offsetY;
        }
    }

    private async Task ClearCanvas()
    {
        await JS.InvokeVoidAsync("clearCanvas", "myCanvas");
        hasDrawing = false; // Set to false when canvas is cleared
    }

    private async Task GenerateSignature()
    {
        if (hasDrawing)
        {
            signatureImageBase64 = await JS.InvokeAsync<string>("generateSignature", "myCanvas");
            signatureImageDisplay = "block";
        }
    }

    private async Task<double> GetOffsetLeft(string canvasId)
    {
        return await JS.InvokeAsync<double>("getOffsetLeft", canvasId);
    }

    private async Task<double> GetOffsetTop(string canvasId)
    {
        return await JS.InvokeAsync<double>("getOffsetTop", canvasId);
    }
}

<style>
    .canvas-container {
        border: 1px dashed #000;
        box-shadow: 5px 5px 5px rgb(218, 214, 213);
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }

    .canvas-container:hover {
        transform: scale(1.005);
    }

    .drawing-container {
        overflow: hidden;
    }
</style>