@page "/HCI/Create"
@page "/HCI/Update/{HCIID}"
@using SupervisorMobility.Client.Pages.Inicio.HCI.Components

<h3>HCI</h3>
<MudExpansionPanels MultiExpansion Class="d-flex flex-column justify-center" Style="align-items: center;">
    <MudExpansionPanel Style="min-width:100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>General information</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <GeneralInfo />
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>I.- Expertise</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <!--<MudExpansionPanels>-->
                <Knwoledge Title="Training received on the department's manuals" />
                <Knwoledge Title="Training inside and outside the company" />
            <!--</MudExpansionPanels>-->
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>II.- Degrees, licenses and diplomas</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Quialifications/>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>III.- Technical skill</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Trajectory />
            <Expertise />
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 55%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>Category</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Category/>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 80%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>Special notes</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Notes />
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>


